<div class="col">
    <div class="text-center">
    <!---- Deskripsi-------------------------->
    <h2><b>Amelia Shop</b></h2>
    <p>Melayani : Adopsi hewan peliharaan</p>
    <p>Pet Training</p>
    <p>Tersedia pet Hotel</p>
</div>
</div>
    <!---footer----->
    <div class="col">
    <hr style="height:2px;border-width:0;color:black;background-color:black">
    <div class="container">
    <table">
        <tr>
        <th>Main Menu</th>
        <th>Find us</th>
        </tr>
        <tr>
        <td><a  href="home.html">Home</a></td>
        <td><a  href="https://www.facebook.com/">Facebook</a></td>
        </tr>
        <tr>
        <td><a href="about.html">About</a></td>
        <td><a  href="http://twitter.com/">Twitter</a></td>
        </tr>
        <tr>
        <td><a  href="belanja.html">Belanja</a></td>
        <td><a  href="http://instagram.com/">Instagram</a></td>
        </tr>
    </table>
    </div>
  </div>
