
    <img src="./img/Iklan.jpg" class="img-fluid" alt="...">
    <div class="container mt-5">
        <div class="row row-cols-4">
          <div class="col">
            <div class="text-center">
            <img src="./img/Manx.jpg" class="img-fluid img-thumbnail">
            <p>Kusing Manx</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
            <img src="./img/Bali.jpg" class="img-fluid img-thumbnail" >
            <p>Kucing Bali</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
            <img src="./img/AmericanShorthair.jpg" class="img-fluid img-thumbnail" alt="Kucing Manx">
            <p>Kucing American Shorthair</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
            <img src="./img/Bengal.jpg" class="img-fluid img-thumbnail" alt="Kucing Manx">
            <p>Kucing Bengal</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
          <div class="col mt-2">
            <div class="text-center">
            <img src="./img/Persia.jpg" class="img-fluid img-thumbnail" alt="Kucing Manx">
            <p>Kucing Persia</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
          <div class="col mt-2">
            <div class="text-center">
            <img src="./img/Siam.jpg" class="img-fluid img-thumbnail" alt="Kucing Manx">
            <p>Kucing Siam</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
          <div class="col mt-2">
            <div class="text-center">
            <img src="./img/Munchkin.jpg" class="img-fluid img-thumbnail" alt="Kucing Manx">
            <p> Kucing Munchkin</p>
            <p class="text-center">25.000</p>
            <button class="btn btn-primary" type="submit">Adopt</button>
            </div>
          </div>
        </div>
      </div>
